POSTGRES_HOST=db
POSTGRES_DB=consent_manager
POSTGRES_USER=postgres
POSTGRES_PASSWORD=example
POSTGRES_PORT=5432
DATABASE_URI="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}"

DEBUG=True
BACKEND_CORS_ORIGINS = ["http://localhost:8000", "https://localhost:8000", "http://localhost", "https://localhost"]
BACKEND_CORS_ALLOW_ALL=True

SECRET_KEY="SECRET_KEY"
SERVER_HOST="http://localhost:8000"
